@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        form {
            border:solid 1px;
        }
    </style>
</head>
<body>
    <div>
       <h3 class="text-center">填写提案表单</h3>

        <form class="form-horizontal" role="form" action="Submit" method="post">
            <div class="form-group" style="padding-top: 20px">
                <label for="title" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title"
                        placeholder="请输入标题">
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">内容</label>
                <div class="col-sm-10">
                    <textarea rows="10" cols="30" class="form-control" name="content"
                        placeholder="请输入内容" />
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="op" value="1" checked>
                        提案
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="op" value="2">
                        建议
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label for="co-sponsor" class="col-sm-2 control-label">联名提案人</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="co-sponsor"
                        placeholder="请输入联名提案人(至少3个)">
                </div>
            </div>

            <div class="form-group">
                <label for="processingdepartment" class="col-sm-2 control-label">拟处理部门</label>
                <div class="col-sm-10">
                    <select class="form-conctrol" name="processingdepartment">
                        <option value="1">计算机学院</option>
                        <option value="2">后勤处</option>
                        <option value="3">水电供应处</option>
                        <option value="4">网络管理中心</option>
                        <option value="5">宿管部</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>

        </form>

    </div>
</body>
</html>

        